<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
		<settings>
			<setting name="cacheEnabled" value="false" />
			<setting name="useGeneratedKeys" value="true" />
			<setting name="defaultExecutorType" value="REUSE" />
		</settings>
		
		<typeAliases>
			<!-- 기본 -->
			<typeAlias type="java.lang.Integer" alias="int"/>
		 	<typeAlias type="java.lang.String"	alias="String"/>
			<typeAlias type="java.util.Map" alias="map" />
			<typeAlias type="java.util.List" alias="list" />
			
			<!-- DTO -->
<!-- 			<typeAlias type="kr.co.front.main.MainDTO" alias="MainDTO"/> -->
		</typeAliases>
	</configuration>